* {
    font-family: 'Sedgwick Ave', cursive;
}

html {
    background-color: #fff;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.note {
    width: 350px;
    min-height: 350px;
    margin: 5% auto;
    padding: 10px 20px;
    background-color: #ff8;
    -webkit-box-shadow: 5px 5px 7.5px -2.5px #777;
    -moz-box-shadow: 5px 5px 7.5px -2.5px #777;
    box-shadow: 5px 5px 7.5px -2.5px #777;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.checkbox-container {
    width: 7.5px;
    height: 7.5px;
    padding: 0;
    margin: 0;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 5px;
	border: 1.5px solid #000;
	border-radius: 1.5px;
    outline: none;
}

.checkbox:after {
    width: 3.5px;
    height: 7px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.new-task {
    width: 100%;
    background: none;
    padding: 5px;
    border: none;
    box-sizing: border-box;
    opacity: .5;
    outline: none;
}

.new-task:hover {
    border-bottom: .25px solid #000;
}

.done {
    text-decoration: line-through;
    color: #999;
    opacity: .5;
}

::placeholder {
    color: #999;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #999;
}

::-ms-input-placeholder {
    color: #999;
}

/*TEST*/
.container {
    display: block;
    position: relative;
    cursor: pointer;
}

.container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
	border: 1.5px solid #000;
	border-radius: 1.5px;
}

.checkmark:after {
    position: absolute;
    display: none;
    content: "";
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    height: 7px;
    width: 3.5px;
    border: solid #000;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}